<ion-view view-title="Team Number: {{teleOpCtrl.match.teamNumber}}">
  <ion-content class="padding">
  <div class="row">
      <div class="col text-center">
        <h1>TeleOp</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col-100">
        <ul class="list">
          <li class="item">
            <div class="row">
              <div class="col col-70 text-center">
                <h2>Power Cells &#8680; Bottom Port</h2>
              </div>
              <div class="col col-70 text-center">
                <h2>Power Cells &#8680; Outer Port</h2>
              </div>
              <div class="col col-70 text-center">
                <h2>Power Cells &#8680; Inner Port</h2>
              </div>

            </div>
          </li>
        <li class="item">
            <div class="row">
              <div class="col col-70 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseBottomPort1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.bottomPort"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseBottomPort1()">
                    +1
                  </button>
              </div>
              <div class="col col-70 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseOuterPort1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.outerPort"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseOuterPort1()">
                    +1
                  </button>
              </div>
              <div class="col col-70 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreaseInnerPort1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.innerPort"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increaseInnerPort1()">
                    +1
                  </button>
              </div>
            </div>
          </li>
             <li class="item item-toggle">
             Control Panel Rotation Control
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-click="teleOpCtrl.toggleRotationControl()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 
           <li class="item item-toggle">
             Control Panel Position Control
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-click="teleOpCtrl.togglePositionControl()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 
             
        <li class="item">
            <div class="row">
              <div class="col col-100 text-center">
                <h2>Power Cells Dropped</h2>
              </div>
            </div>
          </li>          
          <li class="item">
            <div class="row">
              <div class="col col-70 text-center">
                  <button class="button button-assertive"
                    ng-click="teleOpCtrl.decreasePowerCellsDropped1()">
                    -1
                  </button>
                  <button class="button button-light">
                    <span ng-bind="teleOpCtrl.matchParts.powerCellsDropped"></span>
                  </button>
                  <button class="button button-positive"
                    ng-click="teleOpCtrl.increasePowerCellsDropped1()">
                    +1
                  </button>
              </div>
            </div>
          </li>  

          <li class="item item-toggle">
             Climb Attempt
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="teleOpCtrl.matchParts.climbAttempt">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 

            <li class="item item-toggle">
               Climb Success
               <label class="toggle toggle-positive">
                 <input type="checkbox" ng-model="teleOpCtrl.matchParts.climbSuccess" ng-disabled="!teleOpCtrl.matchParts.climbAttempt" ng-change="teleOpCtrl.didClimb()">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>

            <li class="item item-toggle">
             Level
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-click="teleOpCtrl.toggleLevelPoints()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li> 
             
            <li class="item item-toggle">
             Parking
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-click="teleOpCtrl.toggleParking()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
       
            <li class="item item-toggle">
             Disabled
             <label class="toggle toggle-energized">
               <input type="checkbox" ng-model="teleOpCtrl.matchParts.disabled">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
              <li class="item">
                <div class="row">
                  <div class="col col-100">
                    <label class="item item-input item-select">
                      <div class="input-label">Play Style</div>
                        <select
                          ng-model="teleOpCtrl.matchParts.playStyle"
                          ng-options="playStyle as playStyle.label for playStyle in teleOpCtrl.playStyles track by playStyle.id">
                        </select>
                    </label>
                  </div>
                </div>
              </li>   
            <li class="item">
                <div class="row">
                  <div class="col col-100">
                    <label class="item item-input item-select">
                      <div class="input-label">Fouls</div>
                        <select
                          ng-model="teleOpCtrl.matchParts.foul"
                          ng-options="foul as foul.label for foul in teleOpCtrl.fouls track by foul.id">
                        </select>
                    </label>
                  </div>
                </div>
              </li> 
            
             <li>
            <div class="item item-button">
				  <div class="text-center">
					<button class="button button-positive"
                    ng-click="teleOpCtrl.submit()">
					To Results!
				</button>
				</div>
			</div>
            
        </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>